<div class="pt-5">
  <div class="container pt-3">
    <div class="row pb-3">
      <div class="col">
        <div class="d-flex flex-row align-items-center">
          <div class="fs-1 d-flex name">{{ name }}</div>
          <fa-icon
            class="fa-2xl far-regular custom-color"
            [icon]="emptyHeartIcon"
            *ngIf="isRateInFavourites === false"
            (click)="addToFavourites(code)"
          ></fa-icon>
          <fa-icon
            class="fa-2xl far-regular custom-color"
            [icon]="fullHeartIcon"
            *ngIf="isRateInFavourites === true"
            (click)="removeFromFavourites(code)"
          ></fa-icon>
        </div>
        <div class="row">
          <h1>{{ code }}</h1>
        </div>
      </div>
      <div class="col d-flex justify-content-end p-3">
        <img
          [src]="flagUrl"
          onerror="this.onerror=null;this.src='assets/flag_placeholder.webp';"
          i18n-alt
          alt="Country flag"/>
      </div>
    </div>
  </div>
  <section class="section-variant">
    <div class="container">
      <h2 class="py-3" i18n>Exchange rates from the last 7 days:</h2>
      <div
        class="card mb-2"
        *ngFor="
          let detailCurrency of detailCurrencyRates
            | paginate
              : { itemsPerPage: ITEMS_PER_PAGE, currentPage: currentPage }">
        <div class="card-body d-flex align-items-center py-0">
          <div class="fw-bold">•</div>
          <div class="mx-5 flex-fill">{{ detailCurrency.date }}</div>
          <div>{{ detailCurrency.mid }}</div>
        </div>
      </div>
      <div class="d-flex justify-content-center py-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination cursor">
            <li class="page-item">
              <a
                class="page-link"
                (click)="onPageChange(currentPage - 1)"
                [class.disabled]="currentPage === 1"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a
                class="page-link"
                (click)="onPageChange(1)"
                [class.current]="currentPage === 1"
                >1</a>
            </li>
            <li class="page-item">
              <a
                class="page-link"
                (click)="onPageChange(2)"
                [class.current]="currentPage === 2"
                >2</a>
            </li>
            <li class="page-item">
              <a
                class="page-link"
                (click)="onPageChange(3)"
                [class.current]="currentPage === 3"
                >3</a>
            </li>
            <li class="page-item">
              <a
                class="page-link"
                (click)="onPageChange(currentPage + 1)"
                [class.disabled]="currentPage === 3"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <div class="container pb-4 pt-5" id="chartView">
    <div class="d-flex justify-content-center pt-4 buttons">
      <app-button
        [isActive]="activeChart == ActiveChart.LastSevenDays"
        text="last 7 days"
        i18n-text
        (click)="isChartFromLastSevenDaysActive()"
      ></app-button>
      <div class="me-5"></div>
      <app-button
        [isActive]="activeChart == ActiveChart.Last30Days"
        text="last 30 days"
        i18n-text
        (click)="isChartFromLast30DaysActive()"
      ></app-button>
      <div class="me-5"></div>
      <app-button
        [isActive]="activeChart == ActiveChart.LastMonths"
        text="last months"
        i18n-text
        (click)="isChartFromLastMonthsActive()"
      ></app-button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
