<div class="container mt-5">
  <h1>{{ name }}</h1>
  <h1>{{ code }}</h1>
  <img [src]="flagUrl" />
  <h2 class="mt-5">Exchange rates from the last 7 days</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Currency</th>
        <th scope="col">Date</th>
        <th scope="col">Mid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detailCurrency of detailCurrencyRates; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ detailCurrency.date }}</td>
        <td>{{ detailCurrency.mid }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-5">
    <a [routerLink]="['/detail', code, 'chart-from-last-seven-days']"
      ><app-button [isActive]="activeChart == ActiveChart.LastSevenDays" text="last 7 days" (click)="isChartFromLastSevenDaysActive()"></app-button
    ></a>
    <a [routerLink]="['/detail', code, 'chart-from-last-30-days']"
      ><app-button [isActive]="activeChart == ActiveChart.Last30Days" text="last 30 days" (click)="isChartFromLast30DaysActive()"></app-button
    ></a>
    <a routerLink="/detail/{{ code }}/chart-from-last-months"
      ><app-button [isActive]="activeChart == ActiveChart.LastMonths" text="last months" (click)="isChartFromLastMonthsActive()"></app-button
    ></a>
  </div>
  <router-outlet></router-outlet>
</div>
