.card {
  -webkit-box-shadow: 8px 8px 28px -19px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 28px -19px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 28px -19px rgba(66, 68, 90, 1);
}

.card-body {
  height: 50px;
}
