<div class="pt-5">
  <div class="container pt-3">
    <div class="row pb-3">
      <div class="col p-0">
        <div class="row d-flex">
          <div class="col-9">
            <h1>{{ name }}</h1>
          </div>
          <div class="col d-flex align-items-center">
            <fa-icon 
              class="fa-2xl far-regular" 
              [icon]="emptyHeartIcon"
              *ngIf="isRateInFavourites === false"
              (click)="addToFavouriteInDetail(code)"></fa-icon>
            <fa-icon 
              class="fa-2xl far-regular" 
              [icon]="fullHeartIcon"
              *ngIf="isRateInFavourites === true"
              (click)="removeToFavouritesInDetail(code)"></fa-icon>
          </div>
        </div>
        <div class="row">
          <h1>{{ code }}</h1>
        </div>
      </div>
      <div class="col d-flex justify-content-end p-3">
        <img
          [src]="flagUrl"
          onerror="this.onerror=null;this.src='assets/flag_placeholder.webp';"
          i18n-alt
          alt="Country flag"
        />
      </div>
    </div>
  </div>
  <section class="section-variant">
    <div class="container pb-4">
      <h2 class="py-3" i18n>Exchange rates from the last 7 days:</h2>
      <div
        class="card mb-2"
        *ngFor="let detailCurrency of detailCurrencyRates; let i = index"
      >
        <div class="card-body d-flex align-items-center py-0">
          <div class="fw-bold">{{ i + 1 }}</div>
          <div class="mx-5 flex-fill">{{ detailCurrency.date }}</div>
          <div>{{ detailCurrency.mid }}</div>
        </div>
      </div>
    </div>
  </section>
  <div class="container pb-4">
    <div class="d-flex justify-content-center pt-4">
      <app-button
        [isActive]="activeChart == ActiveChart.LastSevenDays"
        text="last 7 days"
        i18n-text
        (click)="isChartFromLastSevenDaysActive()"
      ></app-button>
      <div class="me-5"></div>
      <app-button
        [isActive]="activeChart == ActiveChart.Last30Days"
        text="last 30 days"
        i18n-text
        (click)="isChartFromLast30DaysActive()"
      ></app-button>
      <div class="me-5"></div>
      <app-button
        [isActive]="activeChart == ActiveChart.LastMonths"
        text="last months"
        i18n-text
        (click)="isChartFromLastMonthsActive()"
      ></app-button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
