<nav
  class="navbar navbar-expand-lg navbar-light fixed-top"
  [@transparentBackground]="isTransparent"
>
  <div class="container-fluid d-flex align-items-center p-0">
    <a class="navbar-brand" href="#"><h5>Exchange•Rates</h5></a>
    <div class="d-flex">
      <!-- <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"></label>
      </div> -->
      <div class="navbar-toggler cursor border-0" (click)="toggleCollapse()">
        <fa-icon class="fa-lg" [icon]="toggleIcon"></fa-icon>
      </div>
    </div>
    <div
      class="collapse navbar-collapse"
      [collapse]="isCollapsed"
      [isAnimated]="true"
    >
      <div class="navbar-nav text-center">
        <a
          [class.active]="isCurrenciesActive"
          class="nav-link"
          aria-current="page"
          (click)="onClickCurrencies()"
          i18n
          >Currencies</a
        >
        <a
          [class.active]="!isCurrenciesActive"
          class="nav-link"
          (click)="onClickGold()"
          i18n
          >Gold</a
        >
      </div>
    </div>
  </div>
</nav>

<div [class.dim-background]="!isCollapsed"></div>
