<nav
  class="navbar navbar-expand-lg navbar-light fixed-top py-0"
  [ngClass]="{
    'bg-white': isBackgroundWhite,
    'transparent-background': !isBackgroundWhite,
    'scrolled-navbar': isNavbarScrolled
  }"
  (scroll)="addBackgroundToNavbar($event)"
>
  <div class="container-fluid d-flex align-items-center p-0">
    <a class="navbar-brand" href="#"><h5>Exchange•Rates</h5></a>
    <div class="navbar-toggler" (click)="toggleCollapse()">
      <fa-icon class="fa-lg" [icon]="toggleIcon"></fa-icon>
    </div>
    <div
      class="collapse navbar-collapse"
      [collapse]="isCollapsed"
      [isAnimated]="true"
    >
      <div class="navbar-nav text-center">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
      </div>
    </div>
  </div>
</nav>

<!-- pokaz jak isCollapsed-->
<div
  class="modal fade modal-backdrop"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
></div>
