<nav
  class="navbar navbar-expand-lg navbar-light fixed-top"
  [@transparentBackground]="isTransparent"
>
  <div class="container-fluid d-flex align-items-center p-0">
    <a class="navbar-brand" href="#"><h5>Exchange•Rates</h5></a>
    <div class="navbar-toggler cursor border-0" (click)="toggleCollapse()">
      <fa-icon class="fa-lg" [icon]="toggleIcon"></fa-icon>
    </div>
    <div
      class="collapse navbar-collapse"
      [collapse]="isCollapsed"
      [isAnimated]="true"
    >
      <div class="navbar-nav text-center">
        <a
          [class.active]="isCurrenciesActive"
          class="nav-link"
          aria-current="page"
          (click)="onClickCurrencies()"
          i18n
          >Currencies</a
        >
        <a
          [class.active]="!isCurrenciesActive"
          class="nav-link"
          (click)="onClickGold()"
          i18n
          >Gold</a
        >
        <select class="form-select" (change)="changeLang($event)" name="" id="">
          <option [selected]="lang==='en'" value="en">English</option>
          <option [selected]="lang==='pl'"  value="pl">Polish</option>
        </select>
      </div>
    </div>
  </div>
</nav>

<div [class.dim-background]="!isCollapsed"></div>
