.navbar-brand {
  margin: 0px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-toggler {
  margin-right: 20px;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navbar-toggler:hover {
  scale: 1.1;
}

h5 {
  margin-bottom: 0;
}

.nav-link:hover, 
.nav-link:focus,
.nav-link.active {
  color: rgb(118, 193, 228); //TODO: kolorek
}