.btn-color-main {
    background-color: rgb(226, 235, 247);
    color: rgb(40, 81, 146);
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.btn-color-main:hover,
.btn-color-main:active,
.btn-color-main:focus,
.btn-color-main.active {
    background: rgb(201, 212, 227);
    color: rgb(255, 255, 255);
}