<div class="container mt-5">
  <div class="row">
    <div class="col text-secondary">
      <h1>Exchange <br> Rates</h1>
      <p class="mt-4">
        See fluctuations in your currency using the tabel and charts below. <br>
        Use fiter input to find Your currency!
      </p>
      <div class="d-flex mt-5">
        <app-button
          text="Currencies"
          [isActive]="isCurrenciesActive"
          (click)="onClickCurrencies()"
        />
        <div class="me-4"></div>
        <app-button
          text="Gold"
          [isActive]="!isCurrenciesActive"
          (click)="onClickGold()"
        />
      </div>
    </div>
    <div class="col"></div>
  </div>

  <router-outlet></router-outlet>
</div>
