<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>TITLE</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, nisi
        temporibus deleniti corrupti cumque dolorum aut inventore magni nam et
        culpa placeat cum distinctio. Aperiam dolores pariatur hic consectetur
        labore.
      </p>
      <a routerLink="/dashboard/currencies"
        ><app-button buttonText="Currencies"></app-button
      ></a>
      <a routerLink="/dashboard/gold-prices"
        ><app-button buttonText="Gold"></app-button
      ></a>
    </div>
    <div class="col bg-secondary"></div>
  </div>
  <router-outlet></router-outlet>
</div>
