<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>TITLE</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, nisi
        temporibus deleniti corrupti cumque dolorum aut inventore magni nam et
        culpa placeat cum distinctio. Aperiam dolores pariatur hic consectetur
        labore.
      </p>
      <div>
        <a routerLink="/dashboard/currencies">
          <app-button
            buttonText="Currencies"
            [size]="'btn-lg me-5'"
            [class.active]="1 === activeButtonIndex"
            (click)="setActiveButton(1)"
          ></app-button
        ></a>
        <a routerLink="/dashboard/gold-prices">
          <app-button
            buttonText="Gold"
            [size]="'btn-lg'"
            [class.active]="2 === activeButtonIndex"
            (click)="setActiveButton(2)"
          ></app-button
        ></a>
      </div>
    </div>
    <div class="col bg-secondary"></div>
  </div>
  <router-outlet></router-outlet>
</div>
