a {
    text-decoration: none;
}

.table {
    --bs-body-bg: #0000000
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    background-color: rgba(153, 189, 217, 0.1);
}

.fa-icon {
    font-size: 1rem;  
}