<section class="section-variant py-4">
  <div class="container">
    <form [formGroup]="filterForm" class="d-flex">
      <input
        formControlName="filterInputValue"
        class="form-control mb-3 me-2 h-150 rounded-5"
        type="text"
        placeholder="Search currency"
        aria-label="Search currency"
      />
      <div class="d-flex">
        <app-button
          [icon]="sortPopulrityIcon"
          [isActive]="!isSortAlphabeticallyActive"
          (click)="sortPopularity()"
        ></app-button>
        <div class="me-3"></div>
        <app-button
          [icon]="sortAlphabeticallyIcon"
          [isActive]="isSortAlphabeticallyActive"
          (click)="sortAlphabetically()"
        ></app-button>
      </div>
    </form>
    <div class="row d-flex justify-content-center">
      <div
        class="col-12 col-md-6 p-1"
        *ngFor="let currency of filteredRatesWithFlag"
      >
        <div class="card">
          <div
            class="card-body d-flex align-items-center cursor"
            (click)="navigateToDetail(currency.rate.code)"
          >
            <div>
              <img
                class="flag"
                [src]="currency.flagUrl"
                onerror="this.onerror=null;this.src='assets/flag_placeholder.webp';"
                alt="Country flag"
              />
            </div>
            <div class="flex-row mx-3 flex-fill">
              <div class="fs-5">{{ currency.rate.currency }}</div>
              <div class="fs-6 fw-bold">{{ currency.rate.code }}</div>
            </div>
            <div class="fs-6 fw-medium">{{ currency.rate.mid }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
