a {
  text-decoration: none;
}

.table {
  --bs-body-bg: #0000000;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  background-color: rgba(153, 189, 217, 0.1);
}

.fa-icon {
  font-size: 1rem;
}

.form-control:focus {
  -webkit-box-shadow: 0px 11px 42px -16px rgba(176, 184, 205, 1);
  -moz-box-shadow: 0px 11px 42px -16px rgba(176, 184, 205, 1);
  box-shadow: 0px 11px 42px -16px rgba(176, 184, 205, 1);
}
