section {
  background-color: #e9eaed;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  background-color: rgba(153, 189, 217, 0.1);
}

.card-body {
  height: 90px;
}

.flag {
  width: 87px;
  height: 58px;
  object-fit: cover;
  border: solid 1px #e9eaed;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #FFC400;
  -webkit-box-shadow: 0px 11px 42px -16px rgba(176, 184, 205, 1);
  -moz-box-shadow: 0px 11px 42px -16px rgba(176, 184, 205, 1);
  box-shadow: 0px 11px 42px -16px rgba(176, 184, 205, 1);
}