<div class="container mt-5">
  <form [formGroup]="filterForm" class="d-flex">
    <input
      formControlName="filterInputValue"
      class="form-control mb-3 me-2 h-150"
      type="text"
      placeholder="Search currency"
      aria-label="Search currency"
    />
    <div class="d-flex">
      <app-button
        text="p"
        [isActive]="!isSortAlphabeticallyActive"
        (click)="sortPopularity()"
      ></app-button>
      <div class="me-3"></div>
      <app-button
        text="a"
        [isActive]="isSortAlphabeticallyActive"
        (click)="sortAlphabetically()"
      ></app-button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Flag</th>
        <th scope="col">Currency</th>
        <th scope="col">Code</th>
        <th scope="col">Mid</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let currency of filteredRatesWithFlag" class="align-middle">
        <th scope="row"><img [src]="currency.flagUrl" alt="Country flag" /></th>
        <td>{{ currency.rate.currency }}</td>
        <td>{{ currency.rate.code }}</td>
        <td>{{ currency.rate.mid }}</td>
        <td>
          <a [routerLink]="['/detail', currency.rate.code]">
            <app-button text="More details" size="btn-sm"></app-button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- [size]="'btn-s me-2 d-inline h-150'" -->
