<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Currency</th>
        <th scope="col">Code</th>
        <th scope="col">Mid</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let currency of currenciesArray; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ currency.currency }}</td>
        <td>{{ currency.code }}</td>
        <td>{{ currency.mid }}</td>
      </tr>
    </tbody>
  </table>
</div>
